
{% assign get_posts = paginator | default: site %}
<ul class="post-list">
  {% for post in get_posts.posts %}
    <li>
      {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
      <span class="post-meta">{{ post.date | date: date_format }}</span>

      <h2>
        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      </h2>

      {{ post.excerpt }}

    </li>

  {% endfor %}
</ul>


<!-- Pagination links -->
{% if paginator.posts %}
<div class="pagination">
  {% if paginator.previous_page_path %}
      <a class="pagination-item newer" href="{{ paginator.previous_page_path }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
  {% if paginator.next_page_path %}
    <a class="pagination-item older" href="{{ paginator.next_page_path }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
</div>
{% endif %}
